In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
!ls

Alan Energy Project.ipynb
Data Analytics Assignment 2.pdf
price_demand_data.csv
weather-based-electricity-consumption-prediction-using-big-data-analytics-model-IJERTV10IS040052.pdf
weather_data.csv

In [3]:
weather_df = pd.read_csv("weather_data.csv", sep = ',', header = 0)

In [4]:
weather_df

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7.0,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4.0,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8.0,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8.0,SSE,19,1013.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,27/08/2021,4.6,13.6,0.0,1.2,3.8,SSW,15.0,12:18,7.7,...,7,,Calm,1020.0,12.8,65,7.0,SSE,7,1017.4
239,28/08/2021,5.3,17.8,0.0,1.6,9.6,N,39.0,13:14,9.1,...,1,N,7,1018.6,17.4,31,3.0,NNW,24,1013.5
240,29/08/2021,9.1,16.2,0.6,6.4,4.3,NNE,33.0,1:50,10.6,...,7,N,13,1011.4,12.8,84,7.0,S,6,1010.4
241,30/08/2021,6.4,17.6,4.0,1.4,7.4,NNW,50.0,14:04,11.1,...,7,N,15,1016.1,16.8,45,1.0,NNW,28,1013.2
242,31/08/2021,11.0,20.1,0.0,5.8,3.6,N,61.0,16:29,13.5,...,7,N,17,NaN,19.4,43,6.0,N,30,1012.2

In [5]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               243 non-null    object
 1   Minimum temperature (°C)           242 non-null    float64
 2   Maximum temperature (°C)           242 non-null    float64
 3   Rainfall (mm)                      241 non-null    float64
 4   Evaporation (mm)                   243 non-null    float64
 5   Sunshine (hours)                   243 non-null    float64
 6   Direction of maximum wind gust     240 non-null    object
 7   Speed of maximum wind gust (km/h)  240 non-null    float64
 8   Time of maximum wind gust          240 non-null    object
 9   9am Temperature (°C)               242 non-null    float64
 10  9am relative humidity (%)          242 non-null    float64
 11  9am cloud amount (oktas)           243 non-null    int64
 12  9am wind direction                 242 non-null    object
 13  9am wind speed (km/h)              242 non-null    object
 14  9am MSL pressure (hPa)             241 non-null    float64
 15  3pm Temperature (°C)               243 non-null    float64
 16  3pm relative humidity (%)          243 non-null    int64
 17  3pm cloud amount (oktas)           242 non-null    float64
 18  3pm wind direction                 243 non-null    object
 19  3pm wind speed (km/h)              243 non-null    object
 20  3pm MSL pressure (hPa)             242 non-null    float64
dtypes: float64(12), int64(2), object(7)
memory usage: 40.0+ KB

In [6]:
weather_df.describe(include=np.number)

,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Speed of maximum wind gust (km/h),9am Temperature (°C),9am relative humidity (%),9am cloud amount (oktas),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm MSL pressure (hPa)
count,242.000000,242.000000,241.000000,243.000000,243.000000,240.000000,242.000000,242.000000,243.000000,241.000000,243.000000,243.000000,242.000000,242.000000
mean,11.050826,19.445868,1.576763,3.902469,5.349383,34.412500,13.720661,74.454545,5.164609,1017.740664,18.040329,56.930041,5.301653,1015.824793
std,3.870242,5.354085,4.498754,2.702141,3.604902,10.909319,4.306618,14.177593,2.562778,7.683402,4.963547,14.017376,2.392051,7.435859
min,1.700000,10.600000,0.000000,0.000000,0.000000,15.000000,3.000000,25.000000,0.000000,989.700000,8.600000,21.000000,0.000000,989.000000
25%,8.100000,15.500000,0.000000,1.900000,2.150000,28.000000,10.925000,65.000000,3.000000,1012.800000,14.400000,48.000000,3.000000,1011.000000
50%,10.900000,18.300000,0.000000,3.200000,4.900000,33.000000,13.400000,75.000000,7.000000,1018.100000,17.100000,56.000000,7.000000,1015.750000
75%,13.800000,21.800000,0.600000,5.600000,8.350000,41.000000,16.400000,84.000000,7.000000,1023.700000,20.150000,66.000000,7.000000,1021.600000
max,22.200000,39.200000,43.200000,13.800000,13.100000,67.000000,30.900000,100.000000,8.000000,1034.200000,35.200000,98.000000,8.000000,1032.400000

In [7]:
weather_df.describe(include=object)

,Date,Direction of maximum wind gust,Time of maximum wind gust,9am wind direction,9am wind speed (km/h),3pm wind direction,3pm wind speed (km/h)
count,243,240,240,242,242,243,243
unique,243,15,203,17,16,17,18
top,1/01/2021,N,13:14,N,9,SSW,13
freq,1,57,4,64,47,58,34

In [8]:
nums_var = weather_df.describe(include=np.number).columns.tolist()
print(nums_var)

['Minimum temperature (°C)', 'Maximum temperature (°C)', 'Rainfall (mm)', 'Evaporation (mm)', 'Sunshine (hours)', 'Speed of maximum wind gust (km/h)', '9am Temperature (°C)', '9am relative humidity (%)', '9am cloud amount (oktas)', '9am MSL pressure (hPa)', '3pm Temperature (°C)', '3pm relative humidity (%)', '3pm cloud amount (oktas)', '3pm MSL pressure (hPa)']

In [9]:
cat_vars = weather_df.describe(include=object).columns.tolist()
print(cat_vars)

['Date', 'Direction of maximum wind gust ', 'Time of maximum wind gust', '9am wind direction', '9am wind speed (km/h)', '3pm wind direction', '3pm wind speed (km/h)']

In [10]:
price_demand_df = pd.read_csv("price_demand_data.csv", sep = ',', header = 0)

In [11]:
price_demand_df

      REGION    SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0       VIC1    1/01/2021 0:30      4179.21           LOW
1       VIC1    1/01/2021 1:00      4047.76           LOW
2       VIC1    1/01/2021 1:30      3934.70           LOW
3       VIC1    1/01/2021 2:00      3766.45           LOW
4       VIC1    1/01/2021 2:30      3590.37           LOW
...      ...               ...          ...           ...
11659   VIC1  31/08/2021 22:00      4861.91        MEDIUM
11660   VIC1  31/08/2021 22:30      4748.74        MEDIUM
11661   VIC1  31/08/2021 23:00      4620.09        MEDIUM
11662   VIC1  31/08/2021 23:30      4834.00        MEDIUM
11663   VIC1    1/09/2021 0:00      4811.27        MEDIUM

[11664 rows x 4 columns]

In [12]:
price_demand_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   REGION          11664 non-null  object
 1   SETTLEMENTDATE  11664 non-null  object
 2   TOTALDEMAND     11664 non-null  float64
 3   PRICECATEGORY   11664 non-null  object
dtypes: float64(1), object(3)
memory usage: 364.6+ KB

In [13]:
price_demand_df['SETTLEMENTDATE'] = pd.to_datetime(price_demand_df.SETTLEMENTDATE)
price_demand_df['SETTLEMENTDATE_date']=price_demand_df.SETTLEMENTDATE.dt.date
price_demand_df

,REGION,SETTLEMENTDATE,TOTALDEMAND,PRICECATEGORY,SETTLEMENTDATE_date
0,VIC1,2021-01-01 00:30:00,4179.21,LOW,2021-01-01
1,VIC1,2021-01-01 01:00:00,4047.76,LOW,2021-01-01
2,VIC1,2021-01-01 01:30:00,3934.70,LOW,2021-01-01
3,VIC1,2021-01-01 02:00:00,3766.45,LOW,2021-01-01
4,VIC1,2021-01-01 02:30:00,3590.37,LOW,2021-01-01
...,...,...,...,...,...
11659,VIC1,2021-08-31 22:00:00,4861.91,MEDIUM,2021-08-31
11660,VIC1,2021-08-31 22:30:00,4748.74,MEDIUM,2021-08-31
11661,VIC1,2021-08-31 23:00:00,4620.09,MEDIUM,2021-08-31
11662,VIC1,2021-08-31 23:30:00,4834.00,MEDIUM,2021-08-31
11663,VIC1,2021-01-09 00:00:00,4811.27,MEDIUM,2021-01-09

In [ ]:
pd_df = price_demand_df.groupby('SETTLEMENTDATE_day').agg(max=('TOTALDEMAND','max'), mean=('TOTALDEMAND','mean'), median=('TOTALDEMAND','median'), count=('TOTALDEMAND', 'count'))
pd_df = pd_df.reset_index()
pd_df